<div class="container overflow-auto">
<div class="d-flex justify-content-between mt-3 mb-4">
    <div class="ms-2">
        <input type="text" placeholder="search" [(ngModel)]="search">
    </div>
    <div>
        Auth:
        <select [(ngModel)]="auth">
            <option>apiKey</option>
            <option>OAuth</option>
        </select>
    </div>
    <div>
        HTTPS: <input type="checkbox" [(ngModel)]="isHttps">
    </div>
    <div class="text-end">
        <a routerLink="add" class="btn btn-primary btn active me-1" role="button" aria-pressed="true">Register</a>
    </div>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="position-relative" *ngFor="let columnObj of tableColumns; let x = index">
                    {{ columnObj.title }}
                    <span class="position-absolute d-inline-block p-0 up-down-caret" *ngIf="columnObj.title !== 'HTTPS'">
                        <i class="d-block sort bi-caret-up-fill p-0 cursor-pointer" [ngClass]="
                              sortCaption === 'asc' && columnIndex === x
                                ? 'opacity-50'
                                : 'opacity-100'
                            " (click)="handleSorting(columnObj, 'asc', x)"></i>
                        <i class="d-block sort bi-caret-down-fill p-0 cursor-pointer" [ngClass]="
                              sortCaption === 'desc' && columnIndex === x
                                ? 'opacity-50'
                                : 'opacity-100'
                            " (click)="handleSorting(columnObj, 'desc', x)"></i>
                    </span>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeesData | filter: search : auth : isHttps; index as i">
                <td>{{ emp.API }}</td>
                <td>{{ emp.Description }}</td>
                <td>{{ emp.Auth }}</td>
                <td>
                    {{emp.HTTPS ? 'Yes' : 'No'}}
                </td>
                <td class="text-capitalize">{{ emp.Cors }}</td>
                <td>{{ emp.Link }}</td>
                <td>{{ emp.Category }}</td>
                <td>
                    <div class="d-flex">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm active me-1" role="button" aria-pressed="true" (click)="editEmployee(i)">Edit</a>
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" (click)="deleteEmployee(i)">Delete</a>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!employeesData?.length && !loading">
                <td colspan="8">
                    <h5 class="text-center m-4">
                        Data not found
                    </h5>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <app-spinner-loader [loading]="loading"></app-spinner-loader>
    </div>
</div>
