$transparent-bg:rgba(254, 254, 254, 0);
$transparent-bg-255:rgba(254, 254, 254, 0);
$black-color:#000000;
$black-color-new:#333333;
$red-color:#ff0000;
$grey-color-80:#808080;
$grey-colr-b5:#b5b5b5;
$black-color-bg:#000000;
$color-dark:#454545;
$bgblack-dark-31:#313131;
$black-bg-45:#454545;
$bgblack-dark-31:#313131;
$bgblack-dark-49:#494949;
$bgblack-dark-2a: #2a2a2a;
$light-font:#ffffff;
$white-bg:#ffffff;
$blue-opacity-color:rgb(54 131 188 / 60%);
$white-light-bg:#f5f5f5;
$white-light-color:#f5f5f5;
$blue-color:#3683BC;
$blue-opacity-color:rgb(54 131 188 / 60%);
$light-blue-color: rgba(11, 126, 181, 0.3);
$sms-temp-gradient-white-color:#fefefe;
$white-bg-f8:#f8f8f8;
$color-blue-E4:#E4EAF0;
$bg-blue-E4:#E4EAF0;
$white-bg:#ffffff;
$dark-purple-color:#24356C;
$dim-red-color: #eeeeee;
$dim-red-bg: #eeeeee;
$blue-btn-hover-bg:#2d74a9;
$blue-opacity-color-40:rgb(54 131 188 / 40%);
$scroll-thumb-color-opac:rgb(54 131 188 / 0.4);
$color-blue-E4:#E4EAF0;
$bg-blue-E4:#E4EAF0;
$skyblue-bg-89:#89B6D8;
$common-light-blue-color:#8AB6D8;
$timepicker-btn-bg:#898989;
$popover-color-listig-tb:rgb(176 211 228);
$common-light-blue-bg:#8AB6D8;
$bls-alertinfo-color: rgba(54, 131, 188, 0.5);
$track-bg-scroll:rgb(54 131 188 / 40%);
$cdk-drag-bg-B0:#B0CEE4;
$tooltp-bg:#afcde4;
$blue-btn-hover-clr:#2d74a9;
$dark-purple-color:#24356C;
$btn_primary_hoverbg:rgb(54 131 188 / 92%);
$darkgrey-colr-8f:#8F8F8F;
$darkgrayBg:#8f8f8f;
$grey-bg-c3:#C3C3C3;
$grey-color-c3:#C3C3C3;
$grey-bg-c4:#C4C4C4;
$grey-colr-c4:#C4C4C4;
$pag-arrow-color:#C4C4C4;
$grey-color-AA:#AAAAAA;
$grey-bg-AA:#AAAAAA;
$slider-bar-bg:#AAAAAA;
$header-border-color:#ececec;
$error-text-color:#dc3545;
$alert-sucess:#3c763d;
$error-color-f6:#f6775b;
$hot-lead-fill:#F6775B;
$mini-status-color: #F7775B;
$status-sold:#f7775bcc;
$status-sold-opacity-color:rgb(246 119 91 / 80%);
$yellow-color:#e7dd00;
$yellow-warm-lead-fill:#E7DD00;
$btn-warning-color-bg:#ffc107;
$status-active:rgb(54 188 116 / 80%);
$pending-satus:rgb(231 221 0 / 80%);
$green-color:#36bc74;
$map-bt-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
$common-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);
$comp-table-shadow:3px 0px 10px rgb(0 0 0 / 10%);
$header-dropdown-shadow:0px 0px 10px rgb(0 0 0 / 15%);
$inbox-btn-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.1);
$popover-listing-tb-shadow:0px 3px 8px 0px rgb(0 0 0 / 22%);
$value-lbl-multiselect-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
$map-slider-box-shadow:0px 0px 1.18557px rgba(0, 0, 0, 0.5);
$campaign-view-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05);
$textarea-box-shadow-inset:0 0 10px 1000px #ffffff inset;
$reply-textarea-box-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.1);
$inbox-btn-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.1);
$pagination-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
$useredit-form-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05);
$ng-value-lbl-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
$ngselect-container-box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
$profile-inut-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
$input-group-append-shadow:4px 0px 10px -2px rgba(0, 0, 0, 0.1);
$inbox-zoom-map-filter-shadow:drop-shadow(0px 1.31487px 4.38291px rgba(0, 0, 0, 0.122));
$filter-dropshadow:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
$filter-modal-btn-shadow:0 0 4px rgba(0, 0, 0, 0.3);
$ngd-meridian-box-shadow:0px 0px 3px 2px rgba(0, 0, 0, 0.1);
$value-box-shadow-right: 0px 0px 20px rgba(0, 0, 0, 0.1);
$cview-scroll-track-color:#ECECEC;
$datatable-scrollbar-color:#abc9e0;
$cview-scroll-scroll-color:#aaaaaa;
$datatable-scrollbar-color:#abc9e0;
$mortgage-expand-bg:rgb(170 170 170 / 0.2);
$mortgage-tr-hover-bg:#ebf3f8;
$comparable-th-bg:#afcde4;
$inbox-detail-img-shadow:drop-shadow(0px 1.91434px 3.82868px rgba(0, 0, 0, 0.161));
$slider-prev-nxt-boxshadow:0px 0px 23.9193px rgba(0, 0, 0, 0.5);
$inbox-map-btns-shadow: 0px 0px 5.97983px rgba(0, 0, 0, 0.1);
$sidebar-btngroup: 0px 0px 10px rgba(0, 0, 0, 0.2);
$map-controls-bg:linear-gradient(0deg, #3683BC, #3683BC), #24356C;
$border-color-ec:#ececec;
$horizontal-lbl-color:#5b646b;
$drop-bg:rgba(0,0,0,0.12);
$darkblue-bg-24:#24356C;
$dark-select-shadow:0 0 4px rgb(0 0 0 / 30%);
$light-blue-color-af:#afcde4;
$track-bg-scroll:rgb(54 131 188 / 40%);
$sidebar-blue-shadow:5px 0px 5px rgba(54, 131, 188, 0.1);
$sidebar-logo-bg:rgba(54, 131, 188, 0.5);
$plan-items-shadow:1px 0 6px 0px rgba(0, 0, 0, 0.3);
$transparent-ng-select-marked: rgba(0,0,0,0.04);
$select-container-filter-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.1);
$drop-menu-hover:rgba(0,0,0,.04);
$dark-select-cont-shadow:0 0 4px rgb(0 0 0 / 30%);
$loading-error-color:#e53935;
$loading-error-bg: rgb(229 57 53 / 28%);
$scroll-track-bg:rgb(54 131 188 / 0.4);
$dm-report-tooltip-color:#B0CEE4;
$dm-report-search-border:rgba(170, 170, 170, 0.1);
$dm-report-search-shadow:rgb(0 0 0 / 10%);
$dm-report-scroll-color: rgba(54, 131, 188, 0.4);
$inset-shadow-textarea:inset 0px 0px 10px rgba(0, 0, 0, 0.1);
$color-blue-ddd:#ddd;
$dm-actions-bg:rgba(255, 255, 255, 0.7);
$gmnoprint-img-drop-shadow:drop-shadow(0px 1.60066px 3.20133px rgba(0, 0, 0, 0.161));
$border-bg-left-bottom:rgb(170 170 170 / 50%);
$border-color-ec:#ececec;
$horizontal-lbl-color:#5b646b;
$drop-bg:rgba(0,0,0,0.12);
$select-container-filter-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.1);
$drop-menu-hover:rgba(0,0,0,.04);
$dark-select-cont-shadow:0 0 4px rgb(0 0 0 / 30%);
$list-footer-bg:rgba(54, 131, 188, 0.5);
$accordion-bg:rgba(11, 126, 181, 0.3);
$import-box-border:2px dashed rgba(143, 143, 143, 0.5);
$colling-btn-bg:#f8d7da;
$colling-btn-color:#721c24;
$bg-76:#f6775b;
$infotab-btn-filter-shadow:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
$table-comparable-after-shadow:3px 0px 4px 0px rgb(0 0 0 / 32%);
$img-gallery-slider-filter-shadow:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
$cancel-blck:rgb(69 69 69 / 55%);
$blc-border:rgb(153, 153, 153);
$resToreTempBtn-active-shadow:inset 2px 3px 7px rgba(0, 0, 0, 0.5);
$resToreTempBtn-hover-bg:rgb(128 128 128 / 28%);
$redBg: #e76245;
$fa-bg:#fafafa;
$owner-tiles-shadow:0px 0px 9.2521px rgba(0, 0, 0, 0.1);
$search-text-highlight-color: #E7DD00;
$scroll-track-comp:rgb(226 226 226 / 40%);
$listing-sticky-after-shadow:3px 0px 4px 0px rgb(0 0 0 / 10%);
$propdet-status-shadow:0px 0px 10px rgb(69 69 69 / 10%);
$drivingRu-zoom-brer-clr:#D5D8DB;
$driving-anm-color:#00e969;
$streetview-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
$virtual-drive-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
$mini-window-filter-shadow:drop-shadow(0px 0px 16.2364px rgba(0, 0, 0, 0.1));
$infotab-btn-filter-shadow:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
$white-bg-80opac:rgb(255 255 255 / 80%);
$list-footer-bg: rgba(54, 131, 188, 0.5);
$accordion-bg:rgba(11, 126, 181, 0.3);
$import-box-border:2px dashed rgba(143, 143, 143, 0.5);
$colling-btn-bg:#f8d7da5d;
$colling-btn-color:#721c24;
$bg-76:#f6775b;
$infotab-btn-filter-shadow:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
$cancel-blck:rgb(69 69 69 / 55%);
$blc-border:rgb(153, 153, 153);
$resToreTempBtn-active-shadow:inset 2px 3px 7px rgba(0, 0, 0, 0.5);
$resToreTempBtn-hover-bg:rgb(128 128 128 / 28%);
$redBg: #e76245;
$fa-bg:#fafafa;
$font-family: 'Barlow';
$color-67:#676767;
$color-66:#C6C6C6;
$register-bg: rgba(54, 131, 188, 0.7);
$border-e1:#E1E1E1;
$register-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.05);
$register-next-btn:#F1A13B;
$check-status-bg:linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #000000;
$check-status-clr:#707070;
$reg-checkout-border:#A8A8A8;
$drop-bg-register:#D9D9D9;
$trial-bg:rgba(50, 205, 103, 0.19);
$trial-border:#6BDE92;
$bg-trial-pay:#ADADAD;
$text-error:#EA3323;
$color-21:#212121; 