@import "~@ng-select/ng-select/themes/default.theme.css";

.sort {
    width: 10px;
    height: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-100{
    opacity: 5;
}

